<h1>Create your Business</h1>

<%= form_for :business, url: businesses_path do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@business.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
 
  <%= f.hidden_field :user_id, value: current_user.id %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>