
<% provide(:title, 'Sign up') %>
<h1 class="text-center">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="signup-form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
 

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
 
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
