<%= form_for @item, html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :business_id %>
  <div class="form-body">
    <div class="row">
      <div class="form-group">
        <%= f.label :name, class: "col-sm-1" %>
        <div class="col-sm-6">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Enter Name' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :price, class: "col-sm-1" %>
        <div class="col-sm-6">
        <%= f.text_field :price, class: 'form-control', placeholder: 'Enter Price' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group form-action">
        <div class="col-sm-2">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
        <div class="col-sm-3">
          <%= link_to 'Cancel', 'javascript:history.back()', class: 'btn btn-default' %>
        </div>
      </div>      
    </div>
  </div>

<% end %>