<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list">
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th><%= button_to 'Add', new_item_path, method: :get %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <%= button_to 'Edit', edit_item_path(item), method: :get %>
        <%= button_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
