<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list">
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th><%= link_to "Add", new_item_path, class: "btn btn-default" %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <%= link_to "Edit", edit_item_path(item), class: "btn btn-warning" %>
        <%= link_to "Delete", item_path(item), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>
