<% provide(:title, "Items") %>

<h1>Listing Items</h1>

<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th class="text-right"><%= link_to 'Add', new_item_path, class: "btn btn-primary btn-sm" %></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td class="text-right">
            <%= link_to 'Edit', edit_item_path(item), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
