<header class="navbar navbar-fixed-top navbar-inverse">
  <a href="/"><h2 class="header-main">Moka Rails Interview</h1></a>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <ul>
          <% if can? :manage, Business %>
            <% if current_business.blank? %>
              <li><%= link_to "Create Business", new_business_path %></li>
            <% else %>
                 <li><%= link_to "Edit Business", edit_business_path(current_business) %></li>
            <% end %>
          <% end %>

          <li><%= link_to('Edit Profile', edit_user_registration_path)  %></li>
          <li class="divider"></li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        </ul>
      <% else %>
        <li><%= link_to('Login', new_user_session_path) %></li>
      <% end %>
    </ul>
  </nav>
</header>
